<div class="directory-table">
  <table class="cols-3">
    <thead>
      <tr>
        <th id="view-title-table-column" class="views-field views-field-title" scope="col">Title</th>
        <th id="view-field-department-table-column" class="views-field views-field-field-department" scope="col">
          Academic Discipline / Department</th>
        <th id="view-field-phone-table-column" class="views-field views-field-field-phone" scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/deborah-allen" hreflang="en">Deborah Allen</a>
          <br>
          Dean, Carolinas Campus
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:313684348">313684348</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/lewis-campbell" hreflang="en">Lewis Campbell</a>
          <br>
          Vice Dean, Carolinas Campus
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:356689598">356689598</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/frances-cox" hreflang="en">Frances Cox</a>
          <br>
          Professor for Family Medicine, OMM, and Sports Medicine
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:732759544">732759544</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/katherine-davis" hreflang="en">Katherine Davis</a>
          <br>
          Professor for Family Medicine, OMM, and Sports Medicine
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:189955619">189955619</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/katherine-davis-0" hreflang="en">Katherine Davis</a>
          <br>
          Ambassadorial liaison to the liaison to the ambassador
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:148011811">148011811</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/phillip-evans" hreflang="en">Phillip Evans</a>
          <br>
          Ambassadorial liaison to the liaison to the ambassador
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Obstetrics and Gynecology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:164989036">164989036</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/alastair-flores" hreflang="en">Alastair Flores</a>
          <br>
          Professor for Family Medicine, OMM, and Sports Medicine
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pediatrics
          <br>
          Auburn Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:832638364">832638364</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/clayton-foster" hreflang="en">Clayton Foster</a>
          <br>
          Professor for Family Medicine, OMM, and Sports Medicine
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Emergency Medicine
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:845697146">845697146</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/catherine-gonzales" hreflang="en">Catherine Gonzales</a>
          <br>
          Ambassadorial liaison to the liaison to the ambassador
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Human Resources, Clinical Affairs
          <br>
          Auburn Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:853308087">853308087</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/christina-howard" hreflang="en">Christina Howard</a>
          <br>
          Vice Dean, Louisiana Campus
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Obstetrics and Gynecology
          <br>
          Louisiana Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:288796040">288796040</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/patricia-howard" hreflang="en">Patricia Howard</a>
          <br>
          Vice Dean, Louisiana Campus
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Administration
          <br>
          Louisiana Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:147848456">147848456</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/kenneth-lee" hreflang="en">Kenneth Lee</a>
          <br>
          Professor of Stacking Things on Cats, Carolinas Campus
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Geriatrics
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:771517930">771517930</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/donald-martin" hreflang="en">Donald Martin</a>
          <br>
          Professor of Stacking Things on Cats, Carolinas Campus
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Administration
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:704122436">704122436</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/stephanie-mitchell" hreflang="en">Stephanie Mitchell</a>
          <br>
          Professor for Family Medicine, OMM, and Sports Medicine
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Louisiana Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:299792611">299792611</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/steven-ramirez" hreflang="en">Steven Ramirez</a>
          <br>
          Registrar
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Registrar
          <br>
          Virginia Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:506463883">506463883</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/mary-ramirez" hreflang="en">Mary Ramirez</a>
          <br>
          Ambassadorial liaison to the liaison to the ambassador
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Biomedical Affairs and Research
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:960339402">960339402</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/john-richardson-0" hreflang="en">John Richardson</a>
          <br>
          Professor for Family Medicine, OMM, and Sports Medicine
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Pathology and Histology
          <br>
          Carolinas Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:289476064">289476064</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/john-richardson" hreflang="en">John Richardson</a>
          <br>
          Administrative Assistant in charge of Confusing Cats
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Information Technology
          <br>
          Virginia Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:744851769">744851769</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/martin-rivera" hreflang="en">Martin Rivera</a>
          <br>
          Administrative Assistant in charge of Confusing Cats
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Microbiology and Immunology
          <br>
          Auburn Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:813330222">813330222</a>
        </td>
      </tr>
      <tr>
        <td headers="view-title-table-column" class="views-field views-field-title views-field-field-job-title">
          <a href="/people/zoe-rodrigez" hreflang="en">Zoe Rodrigez</a>
          <br>
          Dogsbody
        </td>
        <td headers="view-field-department-table-column"
          class="views-field views-field-field-department views-field-field-campus">
          Medical Education
          <br>
          Louisiana Campus
        </td>
        <td headers="view-field-phone-table-column" class="views-field views-field-field-phone">
          <a href="tel:939591080">939591080</a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav role="navigation" aria-labelledby="pagination-heading">
    <h4 class="visually-hidden">Pagination</h4>
    <ul class="js-pager__items">
      <li>
        Page 1 </li>
      <li>
        <a href="/directory?page=1" title="Go to next page" rel="next">
          <span class="visually-hidden">Next page</span>
          <span aria-hidden="true">››</span>
        </a>
      </li>
    </ul>
  </nav>
</div>