{% spaceless %}
<span class="icon {{ icon.variant }}">
	<span class="icon__glyph ic {{ icon.glyph }}" aria-hidden="true"></span>
	<span class="icon__label">{{ icon.label|raw }}</span>
</span>
{% endspaceless %}