<form class="min-w-full flex flex-col md:flex-row pb-30" action="/search" method="get" id="search-block-form" accept-charset="UTF-8">
  <div class="h-75 flex items-center flex-grow p-15 relative bg-white">
    <label class="sr-only" for="search-q">Site Search</label>
    <input class="min-w-full pl-30" title="search" placeholder="Search by keyword or interest" id="search-q" type="search" name="q" value="" maxlength="128">
    <i class="absolute px-15 left-0 text-xl text-black ic ic--magnify"></i>
  </div>
  <button class="button md:min-w-250 no-label" type="submit"><span>Search</span></button>
</form>