<div class="one-col">
  {% block main_col %}
  <div class="full-bleed p-30 bg-gray-200">Consequat sit tempor ex enim cupidatat enim cillum in et nostrud. Irure dolore dolor pariatur laboris culpa cupidatat qui anim ullamco excepteur magna fugiat nostrud. Est Lorem irure reprehenderit laborum dolor qui voluptate eu aliqua cillum amet. Officia aute ut aliquip fugiat reprehenderit reprehenderit.</div>
  <div>Fugiat elit eiusmod proident reprehenderit aliquip consequat commodo. Adipisicing laboris sunt labore magna qui tempor consequat ut consequat eiusmod dolore. Cupidatat dolore pariatur nisi reprehenderit officia id sint ullamco voluptate nisi. Proident minim magna non nostrud commodo excepteur esse veniam aute dolor sit ex. Anim occaecat dolor officia occaecat voluptate magna consequat adipisicing.</div>
  <div class="left-bleed p-30 bg-gray-200">Dolor consectetur aliquip occaecat consequat sint eiusmod laboris exercitation amet culpa ex. Est ad aliqua nulla ea consectetur irure laborum pariatur mollit sit ut officia. Et est ea in elit ea aute. Deserunt id enim nisi sit aliquip commodo sit. Laborum do labore eu est veniam cillum.</div>
  <div>Ullamco proident aute in ullamco voluptate officia. Mollit culpa dolore ullamco ex veniam dolore quis adipisicing incididunt cupidatat amet duis. Aute voluptate dolor consectetur ipsum nisi.</div>
  <div class="right-bleed p-30 bg-gray-200">Dolor labore excepteur veniam amet nisi nisi commodo nulla reprehenderit id proident veniam fugiat. Anim quis incididunt labore dolore eiusmod cupidatat officia reprehenderit exercitation esse officia ipsum commodo. Ex occaecat sint consequat nisi. Sunt do sit dolor est. Quis irure aute et quis deserunt ut laboris. Elit ex amet cupidatat ullamco irure esse aliquip. Laboris eu eu elit quis.</div>
  <div class="constrain">Commodo ut occaecat pariatur pariatur laborum nisi nostrud velit tempor velit. Sint nulla amet ullamco dolore est sit occaecat labore sint pariatur enim do. Ex est aute sint consectetur ut non quis.</div>
  {% endblock %}
</div>
