{% block search %}
<div id="google-search-container" class="gcse-search">
  <script>
    (function() {
      var cx = '{{ cx }}';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:searchbox linktarget="_parent" queryParameterName="{{ query_parameter }}" autoSearchOnLoad="true"></gcse:searchbox>
  <gcse:searchresults></gcse:searchresults>
</div>
{% endblock %}
{% block results %}
<div class="gsc-wrapper">
	<div class="gsc-adBlockInvisible"></div>
	<div class="gsc-resultsbox-visible">
		<div class="gsc-resultsRoot gsc-tabData gsc-tabdActive">
			<div class="gsc-results gsc-webResult">
				<div class="gsc-expansionArea">
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/current-students/tuition-and-financial-aid" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/current-students/tuition-and-financial-aid&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAAegQIARAB&amp;usg=AOvVaw15uNmhFrabwC1F32rT6PNe" data-ctorig="https://www.vcom.edu/current-students/tuition-and-financial-aid">
										<b>Tuition</b>
										and Financial Aid | VCOM - The Edward Via College of ...</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/current-students/<b>tuition</b>-and-financial-aid</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-thumbnail gsc-thumbnail">
									<div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
										<a class="gs-image" href="https://www.vcom.edu/current-students/tuition-and-financial-aid" target="_blank" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/current-students/tuition-and-financial-aid&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAAegQIARAB&amp;usg=AOvVaw15uNmhFrabwC1F32rT6PNe" data-ctorig="https://www.vcom.edu/current-students/tuition-and-financial-aid"><img class="gs-image" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTk5z-HIszXwjUHn-edl74bwYuFn2NrimS0CqMOrpOFNMALLcmaUBAPcEub" alt="Thumbnail image"></a>
									</div>
								</div>
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/current-students/tuition-and-financial-aid" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/current-students/tuition-and-financial-aid&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAAegQIARAB&amp;usg=AOvVaw15uNmhFrabwC1F32rT6PNe" data-ctorig="https://www.vcom.edu/current-students/tuition-and-financial-aid">
											<b>Tuition</b>
											and Financial Aid | VCOM - The Edward Via College of ...</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">Financial aid can include loans, scholarships and grants and is available to 
										qualified students to assist in paying for expenses directly related to the cost of 
										their&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/current-students/<b>tuition</b>-and-financial-aid</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/current-students/tuition-and-financial-aid"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/handbooks/catalog/tuition-and-fees" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/handbooks/catalog/tuition-and-fees&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjABegQICRAB&amp;usg=AOvVaw1fFZNlqiH1hIVc89HdFHEr" data-ctorig="https://www.vcom.edu/handbooks/catalog/tuition-and-fees">VCOM College Catalog and Student Handbook</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/handbooks/catalog/<b>tuition</b>-and-fees</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/handbooks/catalog/tuition-and-fees" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/handbooks/catalog/tuition-and-fees&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjABegQICRAB&amp;usg=AOvVaw1fFZNlqiH1hIVc89HdFHEr" data-ctorig="https://www.vcom.edu/handbooks/catalog/tuition-and-fees">VCOM College Catalog and Student Handbook</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">VCOM College Catalog and Student Handbook. First page Previous page 38 
										Next page Last page. 38. Made with FlippingBook Learn more on our blog.</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/handbooks/catalog/<b>tuition</b>-and-fees</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/handbooks/catalog/tuition-and-fees"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/handbooks/catalog/tuition-refund-policy&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjACegQIABAB&amp;usg=AOvVaw0fqhVSWR6WGaasSpwkpuld" data-ctorig="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy">VCOM College Catalog and Student Handbook</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/handbooks/catalog/<b>tuition</b>-refund-policy</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-thumbnail gsc-thumbnail">
									<div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
										<a class="gs-image" href="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy" target="_blank" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/handbooks/catalog/tuition-refund-policy&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjACegQIABAB&amp;usg=AOvVaw0fqhVSWR6WGaasSpwkpuld" data-ctorig="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy"><img class="gs-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn0Oh4icBl8xYPAYP3lTLdNYGgoEtzGj1ReJ9EgM1woIGF0rCol5o1w2o" alt="Thumbnail image"></a>
									</div>
								</div>
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/handbooks/catalog/tuition-refund-policy&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjACegQIABAB&amp;usg=AOvVaw0fqhVSWR6WGaasSpwkpuld" data-ctorig="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy">VCOM College Catalog and Student Handbook</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">Acceptance Fee Upon acceptance into VCOM, a
										<b>tuition</b>
										deposit of $1,500 is due. 
										The
										<b>tuition</b>
										deposit of $1,500 is waived for veterans and veteran dependents.</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/handbooks/catalog/<b>tuition</b>-refund-policy</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/handbooks/catalog/tuition-refund-policy"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjADegQIBxAB&amp;usg=AOvVaw2smRtwgySN84ZRhv8KAd6N" data-ctorig="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance">Cost of Attendance | VCOM - The Edward Via College of ...</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/auburn/current-students/<b>tuition</b>.../cost-attendance</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-thumbnail gsc-thumbnail">
									<div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
										<a class="gs-image" href="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance" target="_blank" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjADegQIBxAB&amp;usg=AOvVaw2smRtwgySN84ZRhv8KAd6N" data-ctorig="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance"><img class="gs-image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5KFgGHRQ8hP54oDLw-S4He7-JguY_VSD4VCNw0olX-i1vfhYZwzWckRI" alt="Thumbnail image"></a>
									</div>
								</div>
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjADegQIBxAB&amp;usg=AOvVaw2smRtwgySN84ZRhv8KAd6N" data-ctorig="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance">Cost of Attendance | VCOM - The Edward Via College of ...</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">A student's cost of attendance (COA) includes
										<b>tuition</b>
										and fees, books and 
										educational supplies, room and board expenses while attending school, costs 
										related&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/auburn/current-students/<b>tuition</b>.../cost-attendance</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/cost-attendance"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAEegQICBAC&amp;usg=AOvVaw31NkEhk0HDKFRi10E9nF_M" data-ctorig="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf">Cost and Budget</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/sites/default/files/.../1819_oms1_coa_budget.pdf</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-thumbnail gsc-thumbnail">
									<div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
										<a class="gs-image" href="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf" target="_blank" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAEegQICBAC&amp;usg=AOvVaw31NkEhk0HDKFRi10E9nF_M" data-ctorig="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf"><img class="gs-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsGxRyPK-RUkkdAsedIazQFEZ3SbyKpqubitL9vwgE7xYpJJwf7OspVpl2" alt="Thumbnail image"></a>
									</div>
								</div>
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAEegQICBAC&amp;usg=AOvVaw31NkEhk0HDKFRi10E9nF_M" data-ctorig="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf">Cost and Budget</a>
									</div>
									<div class="gs-fileFormat">
										<span class="gs-fileFormat">File Format:
										</span>
										<span class="gs-fileFormatType">PDF/Adobe Acrobat</span>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">Jul 16, 2018
										<b>...</b>
										VCOM
										<b>Tuition</b>. $45,500. Federal Student Loan Fees *. $1,752. Living and Other 
											Educational Expenses. $27,580. Total Cost of Attendance.</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/sites/default/files/.../1819_oms1_coa_budget.pdf</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/sites/default/files/financial_aid/files/1819_oms1_coa_budget.pdf"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAFegQIBRAB&amp;usg=AOvVaw0XJYG11UG8xppJAUsho2zE" data-ctorig="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds">Return of Title IV Funds Policy | VCOM - The Edward Via College of ...</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/auburn/current.../<b>tuition</b>-and.../return-title-iv-funds</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-thumbnail gsc-thumbnail">
									<div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
										<a class="gs-image" href="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds" target="_blank" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAFegQIBRAB&amp;usg=AOvVaw0XJYG11UG8xppJAUsho2zE" data-ctorig="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds"><img class="gs-image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5KFgGHRQ8hP54oDLw-S4He7-JguY_VSD4VCNw0olX-i1vfhYZwzWckRI" alt="Thumbnail image"></a>
									</div>
								</div>
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAFegQIBRAB&amp;usg=AOvVaw0XJYG11UG8xppJAUsho2zE" data-ctorig="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds">Return of Title IV Funds Policy | VCOM - The Edward Via College of ...</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">The institutional charges (<b>tuition</b>, fees, etc. for the entire enrollment period or 
										payment period) are multiplied by the percentage of unearned aid to determine 
										the&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/auburn/current.../<b>tuition</b>-and.../return-title-iv-funds</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/auburn/current-students/tuition-and-financial-aid/financial-aid-policies/return-title-iv-funds"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAGegQIBhAC&amp;usg=AOvVaw0mobjCnqBT5asaxzgdSvBH" data-ctorig="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag">Virginia
										<b>Tuition</b>
										Assistance Grant (VTAG) | VCOM - The Edward Via ...</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/virginia.../virginia-<b>tuition</b>-assistance-grant-vtag</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-thumbnail gsc-thumbnail">
									<div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
										<a class="gs-image" href="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag" target="_blank" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAGegQIBhAC&amp;usg=AOvVaw0mobjCnqBT5asaxzgdSvBH" data-ctorig="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag"><img class="gs-image" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTk5z-HIszXwjUHn-edl74bwYuFn2NrimS0CqMOrpOFNMALLcmaUBAPcEub" alt="Thumbnail image"></a>
									</div>
								</div>
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAGegQIBhAC&amp;usg=AOvVaw0mobjCnqBT5asaxzgdSvBH" data-ctorig="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag">Virginia
											<b>Tuition</b>
											Assistance Grant (VTAG) | VCOM - The Edward Via ...</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">Jul 31, 2018
										<b>...</b>
										The state of Virginia funds the Virginia
										<b>Tuition</b>
										Assistance Grant (VTAG) each 
										year to Virginia domicile students. There is a required application,&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/virginia.../virginia-<b>tuition</b>-assistance-grant-vtag</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/virginia-campus-scholarships/virginia-tuition-assistance-grant-vtag"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAHegQIAxAB&amp;usg=AOvVaw3TJeh3fBJyWcH_WwH6BMjB" data-ctorig="http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/">00 - cover and inside</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAHegQIAxAB&amp;usg=AOvVaw3TJeh3fBJyWcH_WwH6BMjB" data-ctorig="http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/">00 - cover and inside</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">Timothy Keegan Virginia
										<b>Tuition</b>
										Assistance Grant, 2014-2018 J. Michael 
										Bernardo Memorial Scholarship, 2017-2018 Mariana Keener Virginia
										<b>Tuition</b>&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="http://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/149/"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAIegQIBBAB&amp;usg=AOvVaw3RdkIxdX8wD0C1Kd4xO6WO" data-ctorig="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/">00 - cover and inside</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAIegQIBBAB&amp;usg=AOvVaw3RdkIxdX8wD0C1Kd4xO6WO" data-ctorig="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/">00 - cover and inside</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">2018 Michael Adams Greenwood Leflore Hospital Award, 2014-2018 Jaspreet 
										Ahuja Virginia
										<b>Tuition</b>
										Assistance Grant, 2014-2018 Qaisar Al-Shebani Virginia&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/148/"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
					<div class="gsc-webResult gsc-result">
						<div class="gs-webResult gs-result">
							<div class="gsc-thumbnail-inside">
								<div class="gs-title">
									<a class="gs-title" href="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAJegQIAhAB&amp;usg=AOvVaw0pNdId2fPj6JssBq6C3nL-" data-ctorig="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/">00 - cover and inside</a>
								</div>
							</div>
							<div class="gsc-url-top">
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
								<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/</div>
							</div>
							<div class="gsc-table-result">
								<div class="gsc-table-cell-snippet-close">
									<div class="gs-title gsc-table-cell-thumbnail gsc-thumbnail-left">
										<a class="gs-title" href="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/" target="_blank" dir="ltr" data-cturl="https://www.google.com/url?client=internal-element-cse&amp;cx=013632309610131826430:fgyf1m8y0dk&amp;q=https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/&amp;sa=U&amp;ved=2ahUKEwiK3YuN4-XoAhVhU98KHVRABVkQFjAJegQIAhAB&amp;usg=AOvVaw0pNdId2fPj6JssBq6C3nL-" data-ctorig="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/">00 - cover and inside</a>
									</div>
									<div>
										<span></span>
									</div>
									<div class="gs-bidi-start-align gs-snippet" dir="ltr">... 2016-2017 Kathryn Rakes Virginia
										<b>Tuition</b>
										Assistance Grant, 2016-2018 Brian 
										Rogers Virginia
										<b>Tuition</b>
										Assistance Grant, 2016-2018 Leah Roth Virginia
										<b>Tuition</b>&nbsp;...</div>
									<div class="gsc-url-bottom">
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-short" dir="ltr">www.vcom.edu</div>
										<div class="gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long" dir="ltr" style="word-break:break-all;">https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/</div>
									</div>
									<div class="gs-richsnippet-box" style="display: none;"></div>
									<div class="gs-per-result-labels" url="https://www.vcom.edu/sites/default/files/AR/Yearbook/2018/VC/155/"></div>
								</div>
							</div>
						</div>
						<div class="gs-watermark">
							<a href="http://code.google.com/apis/ajaxsearch/faq.html" class="gs-watermark" target="_blank">clipped from Google - 4/2020</a>
						</div>
					</div>
				</div>
				<div class="gsc-cursor-box gs-bidi-start-align" dir="ltr">
					<div class="gsc-cursor">
						<div class="gsc-cursor-page gsc-cursor-current-page" tabindex="0">1</div>
						<div class="gsc-cursor-page" aria-label="Page 2" role="link" tabindex="0">2</div>
						<div class="gsc-cursor-page" aria-label="Page 3" role="link" tabindex="0">3</div>
						<div class="gsc-cursor-page" aria-label="Page 4" role="link" tabindex="0">4</div>
						<div class="gsc-cursor-page" aria-label="Page 5" role="link" tabindex="0">5</div>
						<div class="gsc-cursor-page" aria-label="Page 6" role="link" tabindex="0">6</div>
						<div class="gsc-cursor-page" aria-label="Page 7" role="link" tabindex="0">7</div>
						<div class="gsc-cursor-page" aria-label="Page 8" role="link" tabindex="0">8</div>
						<div class="gsc-cursor-page" aria-label="Page 9" role="link" tabindex="0">9</div>
						<div class="gsc-cursor-page" aria-label="Page 10" role="link" tabindex="0">10</div>
					</div>
				</div>
				<div class="gcsc-more-maybe-branding-root">
					<a href="https://www.google.com/search?client=ms-google-coop&amp;q=tuition&amp;cx=013632309610131826430:fgyf1m8y0dk" target="_blank">
						<div class="gcsc-find-more-on-google">
							<svg width="12" height="12" viewbox="0 0 13 13" class="gcsc-find-more-on-google-magnifier">
								<title>search</title>
								<path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path>
							</svg>
							<span class="gcsc-find-more-on-google-text">Search for
							</span>
							<span class="gcsc-find-more-on-google-query">tuition</span>
							<span class="gcsc-find-more-on-google-text">
								on Google</span>
						</div>
					</a>
					<div class="gcsc-find-more-on-google-branding">
						<div class="gcsc-branding" role="contentinfo" aria-label="Google Custom Search Branding">
							<span class="gcsc-branding-text">powered by</span>
							<a href="https://cse.google.com/?ref=b&amp;hl=en" target="_BLANK" class="gcsc-branding-clickable"><img src="https://www.google.com/cse/static/images/1x/googlelogo_grey_46x15dp.png" class="gcsc-branding-img-noclear" srcset="https://www.google.com/cse/static/images/2x/googlelogo_grey_46x15dp.png 2x" alt="Google"></a>
							<span class="gcsc-branding-text gcsc-branding-text-name">Custom Search</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

