<form>
  <div class="form-item form-item-name">
    <label for="edit-name" class="form-required">Username</label>
    <input type="text"name="name" value="" size="60" maxlength="60" class="form-text required" required="required" aria-required="true">
    <div class="description">Enter your Drupal username.</div>
  </div>
  <div class="form-item form-item-pass">
    <label for="edit-pass" class="form-required">Password</label>
    <input type="password" id="edit-pass">
    <div class="description">Enter the password that accompanies your username.</div>
  </div>
  <div class="form-actions form-wrapper">
    <input type="submit" name="op" value="Log in" class="button form-submit">
  </div>
</form>