.asvg {
  
}

.newcity-logo svg {
  // Newcity Logo is 62 x 101, so the height is 1.629032258 the width
  width: 10rem;
  height: 16.29rem;
}

.newcity-logo-horizontal svg {
  // Newcity Vertical log is 159 x 54, so the height is 2.9444444 the width
  width: 10rem;
  height: 2.944444rem;
}

.newcity-logo-vertical svg {
  // Newcity Vertical log is 115 x 108, so the height is 1.064814815 the width
  width: 10rem;
  height: 10.648rem;
}

.newcity-logo-wordmark svg {
  // Newcity Logo is 115 x 15, so the height is .130434783 the width
  width: 10rem;
  height: 1.3rem;
}