<div class="media-contacts">
  <div class="media-contact virginia">
    <h3>
      <span class="heading__text">Virginia</span>
    </h3>
    <p class="font-bold">Cindy Shepard Rawlins</p>
    <a class='block' href="tel:540-231-5419">540-231-5419</a>
    <a class='block' href="mailto:crawlins@vcom.edu">crawlins@vcom.edu</a>
  </div>
  <div class="media-contact carolinas">
    <h3>
      <span class="heading__text">Carolinas</span>
    </h3>
    <p class="font-bold">Lily Knights</p>
    <a class='block' href="tel:864-327-9992">864-327-9992</a>
    <a class='block' href="mailto:lknights@carolinas.vcom.edu">lknights@carolinas.vcom.edu</a>
  </div>
  <div class="media-contact auburn">
    <h3>
      <span class="heading__text">Auburn</span>
    </h3>
    <p class="font-bold">Scott Godwin</p>
    <a class='block' href="tel:334-442-4047">334-442-4047</a>
    <a class='block' href="mailto:sgodwin@auburn.vcom.edu">sgodwin@auburn.vcom.edu</a>
  </div>
  <div class="media-contact louisiana">
    <h3>
      <span class="heading__text">Louisiana</span>
    </h3>
    <p class="font-bold">Desi Hammett</p>
    <a class='block' href="tel:318-342-7166">318-342-7166</a>
    <a class='block' href="mailto:dhammett@ulm.vcom.edu">dhammett@ulm.vcom.edu</a>
  </div>
</div>