{% if items %}
<div>
  <span class="font-bold">Department/Discipline{% if items|length > 1 %}s{% endif %}</span>: 
  {% for item in items %}
    <span>{{ item.content }}{% if loop.index < items|length %}, {% endif %}</span>
  {% endfor %}
</div>
{% endif %}
