{% if items %}
  <div>
    <span class="font-bold">Degree{% if items|length > 1 %}s{% endif %}</span>: 
    {% for item in items %}
      {{ item.content }}{% if loop.index < items|length %}, {% endif %}
    {% endfor %}
  </div>
{% endif %}