{% for item in items %}
<div>
    <span class="font-bold">Phone</span>: <a class="link--default text-maroon underline" href="tel:{{ item.content|render|striptags|trim }}">{{ item.content }}</a>
</div>
{% endfor %}