<h1 class="presentation-header">Proportional Widths</h1>
{% for w in proportional %}
  <div class="my-10 p-10 max-w-{{ w }} bg-gray-100">.max-w-{{ w }}</div>
{% endfor %}
<h1 class="presentation-header">Fixed Widths</h1>
{% for w in fixed  %}
  <div class="my-10 p-10 max-w-{{ w }} bg-gray-100">.max-w-{{ w }}</div>
{% endfor %}